<div>
    <md-toolbar class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="img/icons/svg/ic_menu_24px.svg"></md-icon>
            </md-button>
            <h2>
                <span>MPP</span>
            </h2>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-list flex>
                <md-list-item class="md-3-line" ng-click="home()">
                    <img class="md-avatar" ng-src="img/icons/svg/ic_home_24px.svg" />
                    <div class="md-list-item-text">
                        <h3>Home</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="home()">
                    <img class="md-avatar" ng-src="img/icons/svg/ic_person_24px.svg" />
                    <div class="md-list-item-text">
                        <h3>Alunos</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-3-line" ng-click="home()">
                    <img class="md-avatar" ng-src="img/icons/svg/ic_school_24px.svg" />
                    <div class="md-list-item-text">
                        <h3>Professores</h3>
                    </div>
                </md-list-item>
                <md-divider ></md-divider>
                <md-list-item class="md-3-line" ng-click="home()">
                    <img class="md-avatar" ng-src="img/icons/svg/ic_exit_to_app_24px.svg" />
                    <div class="md-list-item-text">
                        <h3>Sair</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
        <div layout="row" layout-align="top center" flex="noshrink">
            <div flex="70">
                <div class="md-whiteframe-z1">
                    <md-list-item class="md-3-line" ng-click="home()">
                        <img class="md-avatar" ng-src="img/icons/svg/ic_exit_to_app_24px.svg" />
                        <div class="md-list-item-text">
                            <h3>Sair</h3>
                        </div>
                    </md-list-item>
                </div>
            </div>
        </div>
    </md-content>
</div>